- すべてのコードはSveltekit4に準拠しなさい。
- $app/storesからインポートした$page.params.[{slug}]を使用してURLに埋め込まれているパラメータを取得しなさい。
- コンポーネントには直接CSSを記述せず、必ずTailwindを使用しなさい。
- APIは$lib/apiからインポートせずにfetchを使用して呼び出しなさい。
- APIの中でtry catchを使用しない。
- 可能な限りTypeScriptの型を使用しなさい。
- Prismaの型は@prisma/clientからインポートしなさい。
- storaから読み込む場合はsvelte/storeからインポートしたgetを使用しなさい。